In [1]:
import pandas as pd

In [2]:
# Data una porzione del dataframe che parte dalla riga con la scritta blue estrae un altro 
# dataframe realtivo agli spostamenti di una singola biblioteca
def estraiDati(singola):
    biblioteche_prestanti = singola.iloc[2:, 0][singola.iloc[2:, 0:6].iloc[:, 0].notna()].values
    prestiti_per_biblioteca = singola.iloc[2:, 2][singola.iloc[2:, 0:6].iloc[:, 2].notna()].values
    biblioteca_richiedente = [singola.iloc[0][0]] * len(biblioteche_prestanti)
    data = ["12-09-2022"] * len(biblioteche_prestanti)

    temp = pd.DataFrame(list(zip(data, biblioteca_richiedente, biblioteche_prestanti, prestiti_per_biblioteca)),
               columns =['Data','BibliotecaRichiedente', 'BibliotecaPrestante','NumeroLibri'])
    
    return temp

In [3]:
def splitDataframe(filename):
    df = pd.read_csv(filename, skiprows=19) #salta le righe di output del gestionale

    # Raggruppa in modo da inserire in result tutti i dataframe delle singole biblioteche, da passare poi in estraiDati()
    grp = (df.isnull().sum(axis=1) == df.shape[1]).cumsum()
    gr = df.dropna(axis=0, thresh=1).groupby(grp)
    result = [ gr.get_group(key) for key in gr.groups ]

    print("Biblioteche", len(result))

    return result

In [4]:
tutte = splitDataframe('StatisticaServizio.csv')
final = pd.DataFrame(columns =['Data','BibliotecaRichiedente','BibliotecaPrestante','NumeroLibri'])

for single in tutte:
    final = final.append(estraiDati(single))

final.to_csv("out.csv")

Biblioteche 34

In [5]:
final

,Data,BibliotecaRichiedente,BibliotecaPrestante,NumeroLibri
0,12-09-2022,RMBA1 - BIBLIOTECA EUROPEA,RMBC1 - BIBLIOTECA TULLIO DE MAURO,2
1,12-09-2022,RMBA1 - BIBLIOTECA EUROPEA,RMBG1 - BIBLIOTECA GIANNI RODARI,1
2,12-09-2022,RMBA1 - BIBLIOTECA EUROPEA,RMBL1 - BIBLIOTECA RAFFAELLO,1
3,12-09-2022,RMBA1 - BIBLIOTECA EUROPEA,RMBO2 - BIBLIOTECA ELSA MORANTE,1
0,12-09-2022,RMBA3 - BIBLIOTECA ENZO TORTORA,RMBO2 - BIBLIOTECA ELSA MORANTE,1
...,...,...,...,...
3,12-09-2022,RMBU2 - BIBLIOTECA CASA DEL PARCO,RMBI1 - BIBLIOTECA NELSON MANDELA,1
0,12-09-2022,RMBWA - BIBLIOTECA FABRIZIO GIOVENALE,RMBG2 - TEATRO BIBLIOTECA QUARTICCIOLO,1
0,12-09-2022,RMBWG - B. COSTANZO LICEO GIULIO CESARE,RMBD1 - BIBLIOTECA ENNIO FLAIANO,1
1,12-09-2022,RMBWG - B. COSTANZO LICEO GIULIO CESARE,RMBG2 - TEATRO BIBLIOTECA QUARTICCIOLO,1
2,12-09-2022,RMBWG - B. COSTANZO LICEO GIULIO CESARE,RMBH3 - COLLINA DELLA PACE,2

In [6]:
import random

biblioteche = final["BibliotecaRichiedente"].unique()

fake = pd.DataFrame(columns =['Data','BibliotecaRichiedente','BibliotecaPrestante','NumeroLibri'])

for i in range(1, 15):
    for j in range(1, 13):
        for x in [2019,2020,2021]:
            BibliotecaRichiedente = random.choice(biblioteche)
            BibliotecaPrestante = random.choice([e for e in biblioteche if e != BibliotecaRichiedente])
            Data = str(i)+'-'+str(j)+'-'+str(x)
            NumeroLibri = random.randrange(1, 10)
            #print(Data, BibliotecaRichiedente, BibliotecaPrestante, NumeroLibri, Tipo)
            temp = pd.DataFrame(columns =['Data','BibliotecaRichiedente', 'BibliotecaPrestante','NumeroLibri'])
            temp.loc[0] = [Data, BibliotecaRichiedente, BibliotecaPrestante, NumeroLibri]
            fake = fake.append(temp)

In [27]:
fake.to_csv("fake.csv")

In [7]:
fake

,Data,BibliotecaRichiedente,BibliotecaPrestante,NumeroLibri
0,1-1-2019,RMBF2 - BIBLIOTECA PENAZZATO,RMBD1 - BIBLIOTECA ENNIO FLAIANO,4
0,1-1-2020,RMBS1 - BIBLIOTECA GIORDANO BRUNO,RMBB1 - BIBLIOTECA VILLA LEOPARDI,9
0,1-1-2021,RMBO1 - BIBLIOTECA SANDRO ONOFRI,RMBF1 - BIBLIOTECA GOFFREDO MAMELI,2
0,1-2-2019,RMBQ1 - BIBLIOTECA GUGLIELMO MARCONI,RMBR1 - BIBLIOTECA COLLI PORTUENSI,4
0,1-2-2020,RMBQ1 - BIBLIOTECA GUGLIELMO MARCONI,RMBT2 - BIBLIOTECA CORNELIA,2
...,...,...,...,...
0,14-11-2020,RMBWA - BIBLIOTECA FABRIZIO GIOVENALE,RMBH2 - BIBLIOTECA BORGHESIANA,3
0,14-11-2021,RMBA3 - BIBLIOTECA ENZO TORTORA,RMBE1 - BIBLIOTECA VACCHERIA NARDI,7
0,14-12-2019,RMBN1 - BIBLIOTECA PIER PAOLO PASOLINI,RMBM1 - BIBLIOTECA ARCIPELAGO AUDITORIUM,6
0,14-12-2020,RMBL3 - BIBLIOTECA CASA DEI BIMBI,RMBE1 - BIBLIOTECA VACCHERIA NARDI,3
0,14-12-2021,RMBR1 - BIBLIOTECA COLLI PORTUENSI,RMBQ3 - BIBLIOPORTO,8